**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.Python
env/
venv/
.git
.gitignore
.dockerignore
.env
.env.*
*.md
docker-compose*.yml
node_modules/
.next/
npm-debug.log*
yarn-debug.log*
outputs/
data/
*.db
*.sqlite
